.container {
  width: $website-width;
  // margin: 0 auto;
  // max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  max-width: 100%;
}
%btn-shared {
  display: inline-block;
  padding: 1rem 6rem;
  border: none;
  outline: none;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
.btn {
  &-main {
    @extend %btn-shared;
    color: $neutral;
    background: linear-gradient(
      to right,
      map-get($map: $color-accent, $key: "cyan"),
      map-get($map: $color-accent, $key: "blue")
    );
  }
}
